<p lang="en">For sources of scripts, see 
<code class="uri">&lt;<a href="http://suika.fam.cx/gate/cvs/www/test/http/mime-multipart/mixed-replace/">http://suika.fam.cx/gate/cvs/www/test/http/mime-multipart/mixed-replace/</a>&gt;</code>.</p>
